<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Le Li, Yu Lab, Cornell University">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3D Viral-Human Interactome Browser</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'yulab.ico' %}"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178386462-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-178386462-1');
    </script>
</head>
<body>
    Internet Explorer is not supported by the 3D Viral-Human Interactome Browser. We recommend using Microsoft Edge, Safari, Chrome or Firefox for the best experience.
</body>
</html>